@media (max-width: 992px) {
    .nav-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem 4rem;
    }

    .link_navegacao {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        display: flex;
        align-items: center;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul a li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu .link_navegacao {
        display: block;
        padding-top: 1.2rem;
    }

    ul li {
        width: 100%;
        border-radius: 5px;
        transition: .2s;
    }

    ul li:hover {
        color: #F0BC00;
        background-color: #121111;
        padding: 10px;
        width: 100%;
        font-weight: bold;
    }

    #foto-capa img {
        display: none;
    }

    #inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    #contatos iframe {
        width: 100%;
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    #apresentacao h2 {
        font-size: 2rem;
    }

    #apresentacao h3 {
        font-size: 2rem;
    }

    #card-servicos h3 {
        font-size: 2rem;
        text-align: center;
        white-space: nowrap;
    }

    section,
    .containers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contatos h1 {
        font-size: 2rem;
        text-align: center;
    }

    #contatos h3 {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 135px;
    }

    #title img {
        width: 200px;
    }

    #apresentacao h2 {
        font-size: 1rem;
    }

    #apresentacao h3 {
        font-size: 1rem;
    }

    #apresentacao p {
        font-size: 0.8rem;
    }

    #card-servicos h3 {
        font-size: 1rem;
        text-align: center;
    }

    #rodape p {
        font-size: 0.5rem;
    }

    section,
    .containers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-texto p {
        text-align: left;
    }
}